# Indexing And Formating method

In [1]:
employee_data = ["Ali", 125000, "Google", 5]
print(employee_data[0]+" is working in "+ employee_data[2]+ " for " +str(employee_data[3]) +" years and his salary is "+ str(employee_data[1]))

Ali is working in Google for 5 years and his salary is 125000

In [2]:
studentData = ["Ahmed", "Bilal", "Government College University", "Computer Science", "BS", 50000,"28 Januray 2020", "05 February 2020"]
msg = """Hello {firstname} {lastname},
Your application is accepted for admission in  {degree} {subject} in {uni}.
You have to submit fee{fee} before {date1}.
Your classes will start from {date2},
Thanks""".format(firstname=studentData[0],lastname=studentData[1],degree=studentData[4],subject=studentData[3],uni=studentData[2],fee=studentData[5],date1=studentData[6],date2=studentData[7])
print(msg)

Hello Ahmed Bilal,
Your application is accepted for admission in  BS Computer Science in Government College University.
You have to submit fee50000 before 28 Januray 2020.
Your classes will start from 05 February 2020,
Thanks

# Slicing

In [3]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
print(cities[0:4])
print(cities[2:6])
print(cities[5:8])
print(cities[-4:-1])
print(cities[-5:])
cities[-6:-1:3]

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']
['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']
['Sahiwal', 'Rawalpindi', 'Sialkot']
['Quetta', 'Sahiwal', 'Rawalpindi']
['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

['Islamabad', 'Sahiwal']

# Update list

In [4]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
studentData.append("20 February 2019")               # insert values always in the end by append method
studentData.append(8)
print(studentData)
studentData.insert(4,25000)                          # insert at unique position
studentData.insert(-8,"M.Iqbal")
print(studentData)
studentData[0] = "Zohaib Ali"                       # Update values
studentData[-4] = 7
print(studentData)
studentData.remove("Computer Science")              # Remove values
del studentData[3]                                  # Delete values
print(studentData)
popval1 = studentData.pop(3)                        # pop values
print(popval1)
popval2 = studentData.pop(6)
print(popval2)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]
['Ali Raza', 'M.Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture', '20 February 2019', 8]
['Zohaib Ali', 'M.Iqbal', 22, 91.24, 'Computer Science', 25000, 7, 'University of Agriculture', '20 February 2019', 8]
['Zohaib Ali', 'M.Iqbal', 22, 25000, 7, 'University of Agriculture', '20 February 2019', 8]
25000
8

# Multidimensional list

In [5]:
employedata = [["Ali", 35000, "Software Engineer"],
                ["Talha", 55000, "Product Manager"],["Nasir", 79000, "Computer Engineer"],["Khalid", 44000, "DBA"]]
sal = 0;
total_salary = 0
for sal in employedata:
    salary = sal[1]
    total_salary += sal[1]
    if salary>=5000:
        print("""Name= {name}     With greater salary from 5000 = {sal} """.format(name=sal[0],sal=str(sal[1])))
    else:
        print("Less than")
print("Total salary="+str(total_salary))

Name= Ali     With greater salary from 5000 = 35000
Name= Talha     With greater salary from 5000 = 55000
Name= Nasir     With greater salary from 5000 = 79000
Name= Khalid     With greater salary from 5000 = 44000
Total salary=213000

# Multidimension list update

In [6]:
employedata = [["Ali", 35000, "Software Engineer"],
                ["Talha", 55000, "Product Manager"],["Nasir", 79000, "Computer Engineer"],["Khalid", 44000, "DBA"]]
employedata[2][1] = 90000
employedata[2][2],"product manager"
print(employedata[2])
employedata[3][1] = 5000
employedata

['Nasir', 90000, 'Computer Engineer']

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Computer Engineer'],
 ['Khalid', 5000, 'DBA']]

# Login

In [7]:
username = input("enter username=")
password = input("enter password=")
email = input("enter email=")
if username=="abc" and password=="123":
    print("credencials are correct")
    email1=="abc@gmail.com"
    print("email is verified")    
else:
    print("incorrect details")
    print("email is not verified")

enter username=ab
enter password=34
enter email=fdf@gmail.com
incorrect details
email is not verified